#cc-frame {
    display: inline;
    width: 60px;
    height: 60px;
    background-color: transparent;
    position: fixed;
    bottom: 15px;
    right: 15px;
    overflow: hidden;
    visibility: visible;
    z-index: 2147483639;
    border: 0px;
    backface-visibility: hidden;
    opacity: 1;
    background: transparent;
}

.left {
    left: 15px;
}

.right {
    right: 15px;
}